.content {
  padding: 30px;
  border: 1px solid red;
}

.home {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 40px;
  align-items: start;
}


.banners {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.banner {
  width: 100%;
  aspect-ratio: 3/2;
  background-color: lightblue;
}